<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Login</title>
    <style>
      * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }
      h1 {
        color: brown;
        font-weight: 700;
      }
      label {
        color: brown;
        font-weight: 500;
      }
      input {
        width: 40%;
        padding: 12px;
        color: rgb(87, 20, 211);
        font-weight: 600;
      }
      button {
        padding: 10px;
        width: 20%;
      }
    </style>
  </head>
  <body>
    <h1>LOGIN HERE</h1>
    <br />
    <form id="LoginForm" action="/user/login" method="post">
      <label>Enter Email</label>
      <br />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your registered email"
      />
      <br /><br /><br />
      <label>Enter Password</label>
      <br />
      <input
        type="text"
        id="password"
        name="password"
        placeholder="Enter your registered password"
      />
      <br /><br />
      <button type="submit">LOGIN</button>
      <br /><br />
      <a href="/user/register"
        >Haven't Registered? No worries Click here to register</a
      >
    </form>
    <script>
      console.log(`req.url`);
      document
        .getElementById("loginForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();
          const formData = new FormData(this);
          const email = formData.get("email");
          const password = formData.get("password");

          try {
            const response = await fetch("/user/login", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ email, password }),
            });

            if (!response.ok) {
              throw new Error("Login failed");
            }

            const data = await response.json();
            const token = data.token;

            // Store the token securely (e.g., in localStorage)
            localStorage.setItem("token", token);

            // Redirect or navigate to the dashboard page
            window.location.href = "/user/dashboard";
          } catch (error) {
            console.error("Login error:", error);
            // Handle error (e.g., display an error message)
          }
        });
    </script>
  </body>
</html>
